* {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: cover;
    background-attachment: fixed;
	/*----------SCROLL----------*/
	max-height: 300px; /* Altura máxima del contenedor del scroll */
}

body::-webkit-scrollbar {
	width: 6px; /* Ancho del scroll */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #aaa; /* Color del fondo del scroll */
	border-radius: 6px; /* Bordes redondeados del scroll */
  }
  
  body::-webkit-scrollbar-track {
	background-color: #fff; /* Color del fondo del track del scroll */
  }
/*----------SCROLL----------*/

/*----------NAVBAR & ANIMATION----------*/
header {
	opacity: 1;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px 150px;
	font-family: 'Montserrat', sans-serif;
	font-variant: small-caps;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-size: cover;
    background-attachment: fixed;
	position: sticky;
	top: 0px;
	z-index: 1;
}

#header-title {
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px gray;
}

#header-title a{
	text-decoration: none;
	color: #ffffff;
}

nav ul {
	list-style: none;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-weight: 400;
}

nav li {
	margin: -0.5rem 1.2rem 0 0;
	font-size: 0.9rem;
	transition: 0.5s;
	padding: 2px 0 0 0;
	height: 0px;
	text-transform: uppercase;
}

nav li:hover {
	transition: 0.5s;
	background-color: #004d7a;
	padding-top: 8px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px 0 0 0;
}

nav a:hover {
	color: #008793;
	
}
/*----------NAVBAR & ANIMATION----------*/

/*----------ABOUT ME----------*/

.about-me {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	height: 100vh;
	margin: 2% 12% 12% 12% ;
	-webkit-box-shadow: 0px 2px 23px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 23px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 23px 6px rgba(0,0,0,0.2);
}

.about-me-image img {
	width: 50%;
	border-radius: 50%;
}

#grid1 {
	animation: about-me-animation1 2s forwards;
	font-family: 'Rubik', sans-serif;
	font-size:xx-large;
	background-color: #8262b3e1;
	color: white;
}

.about-me-title {
	line-height: 15px;
	padding: 20px 90px;
	text-align: left;
	font-size: 65px;
	font-family: 'Montserrat', sans-serif;
	font-variant: small-caps;
}

#grid2 {
	animation: about-me-animation2 2s;
	background-color: #f5f5f5;
}


@keyframes about-me-animation1{
	from {
		transform: translateX(-120px);
	}
	to {
		transform: translateX(1px);
	}
}

@keyframes about-me-animation2{
	from {
		transform: translateX(120px);
	}
	to {
		transform: translateX(1px);
	}
}

/*----------FOOTER----------*/
footer {
	color: #fff; /* color de texto del footer */
	padding: 15px; /* espacio de relleno interno del footer */
	font-size: 14px; /* tamaño de fuente del footer */
	text-align: center; /* alineación del contenido del footer */
	left: 0; /* distancia desde el borde izquierdo de la pantalla */
	bottom: 0; /* distancia desde el borde inferior de la pantalla */
	font-family: 'Montserrat', sans-serif;
}
/*----------FOOTER----------*/